body{
	font-family:Times new Roman;
	background:green;
	padding:40px;
}
.container{
	max-width:450px;
	margin:auto;
	background:white;
	padding:25px;
	border-radius:10px;
	box-shadow:0 0 15px rgba(0,0,0,0.1);
}
.subject-list label{
	display:block;
	padding:6px 0;
	cursor:pointer;
}
.total-box{
	background:grey;
	padding;100px;
	width:450px;
	font-size;
	margin:150px 100px,
	border-radius:10px;
}
button{
	width:450px;
	padding:10px;
	font-size:16px;
	background:blue;
	color:white;
	border-radius:5px;
	cursor:pointer;
}
